altgraph==0.17.2
asgiref==3.9.1
Django==4.2.24
django-basicauth==0.5.3
future==0.18.2
gunicorn==23.0.0
macholib==1.15.2
mysqlclient==2.1.1
packaging==25.0
pillow==11.3.0
psycopg==3.2.12
python-dotenv==1.2.1
six==1.15.0
sqlparse==0.5.3
typing_extensions==4.15.0
whitenoise==6.11.0
dj-database-url==2.3.0
